@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Réservez votre prochaine chambre chez nous pour profiter d'un séjour inoubliable au meilleur prix ! </p>
</div>
